[
{lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [
        {"error.log", error, 10485760, "$D0", 5},
        {"console.log", info, 10485760, "$D0", 5}
      ]}
    ]}
  ]},
{spacewar1, [
	{xsize, 800},
	{ysize, 500},
	{ship_mass, 8},
	{torp_mass, 20},
	{planet_radius, 20},
	{torp_lifespan, 50},
	{torp_limit, 3}
]}
].