{lib_dirs, ["deps"]}.
{deps, [
       {'cowboy', ".*", {
       		git, "git://github.com/extend/cowboy.git", {tag, "0.8.0"}}},
	{mimetypes, ".*",
		    {git, "git://github.com/spawngrid/mimetypes.git", "master"}},
	{mochijson2, ".*",
		{git, "git://github.com/bjnortier/mochijson2.git", "master"}}
]}.